.compagnon {
  width: 445;
  height: 550;
  border: 1px solid #000000;
}

.header {
  height: 25;
  border: 1px solid #000000;
}

.items-block{
  height: 60;
  border: 1px solid #000000;
}

.items .item {
  height: 40;
  border: 1px solid #000000;
  width: 40;
  background-color: #CCCC33;
  position : absolute;
}

.actions {
  height: 20;
  width: 80;
  border: 1px solid #000000;
}

.actions div{
  height: 18;
  width: 18;
  float: left;
  background-color: #00FF00;
  border: 1px solid #000000;
}

.edit {
  height: 430;
  border: 1px solid #000000;
}

.panel {
  float: left;
  width: 20;
  height:  430;
  border: 1px solid #000000;
}

.panel div{
  width: 18;
  height: 20;
  background-color: #FF0000;
  border: 1px solid #000000;
}