body {
  /*width: 100%;
  height: 100%;*/
  background-image: url("/pattern.png");
  margin: 0%;
  }
  
  .compagnon {
    width : 100%;
    height : 100%;
  }
  body .header {
    height: 5%;
    position : relative;
    background-image: url("camo.png");
    }
  body .header .logo {
      background-image : url("logo.png");
      background-size : contain;
      background-repeat : no-repeat;
      width : 10%;
      height : 95%;
      position : absolute;
      left : 1.4%;
      top : 10%;
   }
   body .header .sync {
     width : 9%;
     height : 120%;
     background-image : url("sync.png");
     background-size : contain;
     background-repeat : no-repeat;
     right : 2%;
     top : 40%;
     position : absolute;
   }
   body .header .curvedBorder {
     width : 8%;
     height : 130%;
     border-bottom : 2px solid #FFFFFF;
     right : 3.5%;
     position : absolute;
     top : 37%;
     border-radius : 50%;
     /*border-bottom-left-radius : 100%;
     border-bottom-right-radius : 100%;*/ 
   }
   body .header .leftBorder {
     border-bottom : 1px solid #FFFFFF;
     width : 88.7%;
     height : 100%;
     position : absolute;
   }
   body .header .rightBorder {
     border-bottom : 1px solid #FFFFFF;
     width : 3.5%;
     height : 100%;
     position : absolute;
     right : 0%;
   }
  body .items-block {
    height: 7%;
    width: 98.5%;
    left: 1.5%;
    position: absolute;
    top: 14%; }
    body .items-block .select {
      height: 32%;
      font-family : "clr";
      color : #FFFFFF;
      top: -42%;
position: absolute;
width: 20%;
      /*background-image: url("select.png");
      background-repeat: no-repeat;
      background-size: contain;*/ }
    body .items-block .items {
      position: relative;
      height: 68%; }
      body .items-block .items .mini-item {
        width: 8.5%;
        height: 100%;
        top: 0%;
        float: left;
        margin-right: 1.5%;
        background-color: #FFFFFF;
        background-repeat: no-repeat;
        position: relative; }
      body .items-block .items .mini-item.drawing {
        background-size: contain; }
      body .items-block .items .mini-item.video, body .items-block .items .mini-item.image {
        background-size: cover;
         }
  body .actions {
    height: 3.1067961165048542%;
    width: 15%;
    position: absolute;
    top: 22%;
    float: left; }
    body .actions .new, body .actions .undo, body .actions .redo {
      height: 100%;
      width: 30.90909090909091%;
      float: left; }
    body .actions .new {
      background-image: url("add.png");
      background-repeat: no-repeat;
      background-size: contain; }
    body .actions .undo {
      background-image: url("undo.png");
      background-repeat: no-repeat;
      background-size: contain; }
    body .actions .redo {
      background-image: url("redo.png");
      background-repeat: no-repeat;
      background-size: contain; }
    body .actions .separation {
      background-image: url("separation.png");
      background-repeat: no-repeat;
      background-size: contain; }
  body .edit {
    position: absolute;
    bottom: 0%;
    height: 72%;
    width: 100%; }
    body .edit .panel {
      float: left;
      width: 5%;
      height: 100%;
      border-right : 1px solid #444444;
      margin-right : 10px}
      body .edit .panel div {
        width: 100%;
        height: 5.037783375314862%;
        position: relative; }
      body .edit .panel .drawing {
        top: 28%;
        background-image: url("drawing.png");
        background-repeat: no-repeat;
        background-size: contain; }
      body .edit .panel .upload {
        background-image: url("upload.png");
        top: 28%;
        background-repeat: no-repeat;
        background-size: contain; }
      body .edit .panel .link {
        background-image: url("link.png");
        top: 28%;
        background-repeat: no-repeat;
        background-size: contain; }
      body .edit .panel .picture {
        background-image: url("camera.png");
        top: 28%;
        background-repeat: no-repeat;
        background-size: contain; }
      body .edit .panel .delete {
        bottom : 0%;
        position : absolute;
        background-image: url("trash.png");
        background-repeat: no-repeat;
        background-size: contain; }
    body .edit .workspace {
      left: 5%;
      width: 95%;
      height: 100%;
      position: absolute;
      padding: 10% 0% 0% 18%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      border-left : 1px solid #444444;
       }
      body .edit .workspace .item.image, body .edit .workspace .item.drawing, body .edit .workspace .item.video {
        padding: 2.7% 2.2% 2.7% 2.4%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 11px;
        background-color: #FFFFFF;
        margin: 0%;
        float: left;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        }
        body .edit .workspace .item.image .case, body .edit .workspace .item.image .drawing-canvas, body .edit .workspace .item.image .iframe, body .edit .workspace .item.drawing .case, body .edit .workspace .item.drawing .drawing-canvas, body .edit .workspace .item.drawing .iframe, body .edit .workspace .item.video .case, body .edit .workspace .item.video .drawing-canvas, body .edit .workspace .item.video .iframe {
          border-bottom-width: 5px;
          border-bottom-style: solid;
          border-bottom-color: #408486; }
        body .edit .workspace .item.image .case, body .edit .workspace .item.drawing .case, body .edit .workspace .item.video .case {
          position: relative; }
        body .edit .workspace .item.image .legend, body .edit .workspace .item.drawing .legend, body .edit .workspace .item.video .legend {
          outline: none;
          font-family : "clr";
          margin-top: 2%; }
          
@font-face{
	font-family: "clr";
	src : url("/canallightromain-webfont.woff");
}

@font-face{
	font-family: "cbi";
	src : url("/canalbolditalic-webfont.woff");
}

@font-face{
	font-family: "cbr";
	src : url("/canalboldromain-webfont.woff");
}


.undo-redo-clear{
  height : 5%;
  width: 20%;
  position: absolute;
  top: 0%;
  left: 80%;
}

.drawing-undo{
  float : left;
  width : 33%;
  height : 100%;
  position : relative;
  /*background-color : orange;*/
  background-image : url('/previousGris.png');
  background-size : contain;
}

.drawing-redo{
  float : left;
  width : 33%;
  height : 100%;
  position : relative;
  /*background-color : yellow;*/
  background-image : url('/nextGris.png');
  background-size : contain;
}

.drawing-clear{
  float : left;
  width : 33%;
  height : 100%;
  position : relative;
  background-color : red;
}
