body{
  width: 100%;
  height: 100%;
  padding: 0px;
  background-image: url('/pattern.png');
  margin: 0px;
}


.header {
  height: 4.854368932038835%;
  background-image: url('camo.png');
  margin-bottom: 35px;
}


.items-block {
  margin: 0% 0% 1% 2%;
  width: 100%;
  position: relative;
  height : 8.5%;
  top: 40px;
}

.select{
  height : 32%;
  width: 12%;
  background-image: url('select.png');
  background-repeat:no-repeat;
  background-size:contain;
}

.items{
  width: 100%;
  height: 76.36363636363636%;
}

.actions .new {
  background-image: url('add.png');
  background-repeat:no-repeat;
  background-size:contain;
}

.actions .undo {
  background-image: url('undo.png');
  background-repeat:no-repeat;
  background-size:contain;
}

.actions .redo {
  background-image : url('redo.png');
  background-repeat:no-repeat;
  background-size:contain;
}

.actions .separation {
  background-image: url('separation.png');
  background-repeat:no-repeat;
  background-size:contain;
}

.panel .drawing {
  background-image: url('drawing.png');
  background-repeat:no-repeat;
  background-size:contain;
  top : 32%;
  position: relative;
}

.panel .upload {
  background-image: url('upload.png'); 
  background-repeat:no-repeat;
  background-size:contain;
  top : 32%;
  position: relative;
}

.panel .link {
  background-image: url('link.png');
  background-repeat:no-repeat;
  background-size:contain;
  top : 32%;
  position: relative;
}

.panel .picture {
  background-image: url('camera.png');
  background-repeat:no-repeat;
  background-size:contain;
  top : 32%;
  position: relative;
}

.panel .delete {
  background-image: url('trash.png');
  background-repeat:no-repeat;
  background-size:contain;
  bottom: 0px;
  position: absolute;
}

.mini-item {
  /*height : 6.796116504854369%;
  width: 8.333333333333333%;
  position : absolute;*/
  position: relative;
  width: 8.5%;
  height: 100%;
  float: left;
  padding-right: 1%;
  margin-right: 1%;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
}

.mini-item.drawing{
  background-size: contain;
}

.mini-item.video,.mini-item.image {
  background-size: cover;
}

.workspace {
  left: 6.5%;
  position: absolute;
  width: 89.5%;
  height: 73.7%;
}

.item.video,.item.url{
  position: absolute;
  width: 100%;
  height: 100%;
}

.item.image,.item.drawing,.item.video {
  padding: 2.7253669% 2.2312373% 2.7253669% 2.4340771%;
  width: 80%;
  height: 100%;
  margin : 10% 0% 5% 10%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 11px;
  background-color: #FFFFFF;
}

.actions {
  height: 3.1067961165048542%;
  width: 15%;
  position: relative;
  top: 50;
}

.actions .new, .actions .undo,.actions .redo {
  height: 100%;
  width: 30.90909090909091%;
  float: left;
}

.edit {
  height: 75%;
  width: 100%;
  position: absolute;
  bottom: 0px;
}

.panel {
  float: left;
  width: 5%;
  height: 100%;
}

.panel div {
  width: 100%;
  height: 5.037783375314862%;
}


.image .legend,.drawing .legend,.video .legend {
  width: 100%;
  height: 10%;
  float: left;
  position: relative;
  margin-top: 10%;
  outline: none;;
}

.image .legend{
  top: 361.472px;
}

.image .case,.drawing-canvas,.iframe{
  border-bottom-width : 5px;
  border-bottom-style: solid;
  border-bottom-color: #408486;
}


/*.input-field{
  position: absolute;
  left: 5%;
  top: 0px;
  display: none;
  background-color: transparent;
  padding: 0 5px;
  font-family: proxima-light;
  font-size: 13px;
  color: white;
  height: 10px;
  line-height: 15px;
  width: 250px;
  border-left: 2px solid white;
  margin: 8px 0 0 5px;
}*/