body{
  width: 100%;
  height: 100%;
  background-image: url('/pattern.png');
  margin: 0%;
}


.header {
  height: 5%;
  background-image: url('camo.png');
}


.items-block {
  height : 7%;
  margin-top : 9%
;
  left: 1.5%;
  position: relative;
}

.select{
  height : 32%;
  width: 12%;
  background-image: url('select.png');
  background-repeat:no-repeat;
  background-size:contain;
}

.actions {
  height: 3.1067961165048542%;
  width: 15%;
  position: absolute;
  top: 22%;
  float: left;
}

.items{
    position: relative;
    height: 100%;
}

.actions .new {
  background-image: url('add.png');
  background-repeat:no-repeat;
  background-size:contain;
}

.actions .undo {
  background-image: url('undo.png');
  background-repeat:no-repeat;
  background-size:contain;
}

.actions .redo {
  background-image : url('redo.png');
  background-repeat:no-repeat;
  background-size:contain;
}

.actions .separation {
  background-image: url('separation.png');
  background-repeat:no-repeat;
  background-size:contain;
}

.panel .drawing {
  background-image: url('drawing.png');
  background-repeat:no-repeat;
  background-size:contain;
}

.panel .upload {
  background-image: url('upload.png'); 
  background-repeat:no-repeat;
  background-size:contain;
}

.panel .link {
  background-image: url('link.png');
  background-repeat:no-repeat;
  background-size:contain;
}

.panel .picture {
  background-image: url('camera.png');
  background-repeat:no-repeat;
  background-size:contain;
}

.panel .delete {
  background-image: url('trash.png');
  background-repeat:no-repeat;
  background-size:contain;
}

.mini-item {
  width: 8.5%;
  height: 100%;
  top : 0%;
  float: left;
  margin-right : 1%;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
}

.mini-item.drawing{
  background-size: contain;
}

.mini-item.video,.mini-item.image {
  background-size: cover;
  position: relative;
}

.workspace {
    left: 5%;
    width: 95%;
    height: 100%;
    position: absolute;
    padding: 10% 0% 0% 18%;
    -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
    display: inline-flex;
}

.edit {
  position : absolute;
  bottom : 0%;
  height: 72%;
  width: 100%;
}


.item.image,.item.drawing,.item.video {
  padding: 2.7% 2.2% 2.7% 2.4%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 11px;
  background-color: #FFFFFF;
  margin: 0%;
  float: left;
  position: absolute;
  top: 50%; transform: translateY(-50%);
}



.actions .new, .actions .undo,.actions .redo {
  height: 100%;
  width: 30.90909090909091%;
  float: left;
}



.panel {
  float: left;
  width: 5%;
  height: 100%;
}

.panel div {
  width: 100%;
  height: 5.037783375314862%;
  top: 28%;
  position: relative;
}


.image .legend,.drawing .legend,.video .legend {
  outline: none;;
  margin-top: 2%;
}

.image .legend{
}

.image .case,.drawing-canvas,.iframe{
  border-bottom-width : 5px;
  border-bottom-style: solid;
  border-bottom-color: #408486;
}

.case{
  position : relative;
}

.undo-redo-clear{
  height : 5%;
  width: 20%;
  position: absolute;
  top: 0%;
  left: 80%;
}

.drawing-undo{
  float : left;
  width : 33%;
  height : 100%;
  position : relative;
  background-color : orange;
}

.drawing-redo{
  float : left;
  width : 33%;
  height : 100%;
  position : relative;
  background-color : yellow;
}

.drawing-clear{
  float : left;
  width : 33%;
  height : 100%;
  position : relative;
  background-color : red;
}

.sync{
  background-color : purple;
  width : 3%;
  height : 3%;
  position : absolute;
  left : 97%;
}